# Summary

I was not able to do the calculations by separating the city types, then doing the averaging.
I needed to create those before I can put together my bubble chart. I've started doing the bubble chart.

I needed these variables with the calculations first before I can do the pie chart as well.

In [17]:
# Import Dependencies
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import csv

In [22]:
city_data = pd.read_csv("raw_data/city_data.csv")
city_data.head()
ride_data = pd.read_csv("raw_data/ride_data.csv")
ride_data.head()

merged = ride_data.merge(city_data, on='city', how='outer')
merged.drop_duplicates('city')

,city,date,fare,ride_id,driver_count,type
0,Sarabury,2016-01-16 13:49:27,38.35,5403689035038,46,Urban
27,South Roy,2016-01-02 18:42:34,17.49,4036272335942,35,Urban
49,Wiseborough,2016-01-21 17:35:29,44.18,3645042422587,55,Urban
68,Spencertown,2016-07-31 14:53:22,6.87,2242596575892,68,Urban
94,Nguyenbury,2016-07-09 04:42:44,6.28,1543057793673,8,Urban
120,New Jeffrey,2016-02-22 18:36:25,36.01,9757888452346,58,Urban
145,Port Johnstad,2016-06-07 02:39:58,17.15,4352278259335,22,Urban
179,Jacobfort,2016-09-20 20:58:37,22.98,1500221409082,52,Urban
210,Travisville,2016-01-15 17:32:02,27.39,850152768361,37,Urban
233,Sandymouth,2016-11-16 07:27:00,21.61,2389035050524,11,Urban
260,New Andreamouth,2016-04-11 07:20:48,7.72,9992929847990,42,Urban
288,New Christine,2016-09-13 15:06:42,24.89,7918411468537,22,Urban
310,Stewartview,2016-03-29 05:15:56,23.88,6778235889588,49,Urban
340,Rodriguezburgh,2016-09-05 05:20:39,4.54,9650770953139,52,Urban
363,West Sydneyhaven,2016-08-02 21:18:44,12.87,7994760397230,70,Urban
381,Swansonbury,2016-07-11 18:42:11,39.30,744481862626,64,Urban
415,Lisatown,2016-07-05 18:09:14,5.82,6370359473201,47,Urban
438,East Erin,2016-11-03 01:03:05,7.51,4744239092530,43,Urban
466,Port Martinberg,2016-01-06 17:11:30,8.66,7298562820881,44,Urban
487,Edwardsbury,2016-02-27 03:55:54,20.17,8514523868075,11,Urban
514,Pamelahaven,2016-03-26 12:56:57,36.43,3015329826849,30,Urban
529,Fosterside,2016-08-12 11:52:41,28.08,133077693483,69,Urban
553,West Alexis,2016-01-16 00:33:02,26.62,1574788996743,47,Urban
573,Carrollfort,2016-06-24 20:11:11,6.45,1092683495142,55,Urban
602,New David,2016-01-12 20:48:43,38.68,5229089333754,31,Urban
630,Williamshire,2016-06-22 07:53:44,39.81,5322918326146,70,Urban
661,Torresshire,2016-10-29 12:28:18,23.50,6168304478087,70,Urban
687,New Aaron,2016-08-12 17:14:50,34.63,6249037081192,60,Urban
709,Kelseyland,2016-08-19 04:27:52,5.51,6246006544795,63,Urban
737,Lake Sarashire,2016-07-16 02:33:56,34.69,7536776262746,8,Urban
...,...,...,...,...,...,...
2134,West Evan,2016-08-09 02:20:20,39.26,2350874801479,4,Suburban
2146,Sarahview,2016-01-24 01:34:09,21.42,4350977208586,18,Suburban
2161,South Jennifer,2016-10-05 12:22:37,39.24,1148273096494,6,Suburban
2177,Floresberg,2016-07-03 11:24:38,18.21,4098574795183,7,Suburban
2187,Williamchester,2016-08-28 17:40:49,30.72,8203822920323,26,Suburban
2198,Martinmouth,2016-10-01 16:59:07,15.78,7253951228785,5,Suburban
2207,Port Guytown,2016-05-23 23:19:25,23.37,2895832299221,26,Suburban
2222,New Cindyborough,2016-09-25 16:34:43,35.80,3880166548267,20,Suburban
2235,New Michelleberg,2016-11-17 19:04:51,27.33,4786622689927,9,Suburban
2246,North Tracyfort,2016-05-07 11:43:48,19.69,4573622856127,18,Suburban
2256,Tiffanyton,2016-03-18 22:23:02,27.56,9111212410554,21,Suburban
2269,East Cherylfurt,2016-08-02 14:26:36,36.94,6776337445619,9,Suburban
2282,Horneland,2016-07-19 10:07:33,12.63,8214498891817,8,Rural
2286,Kinghaven,2016-05-18 23:28:12,20.53,6432117120069,3,Rural
2292,New Johnbury,2016-04-21 08:30:25,56.60,9002881309143,6,Rural
2296,South Joseph,2016-02-17 01:41:29,57.52,7365786843443,3,Rural
2308,Kennethburgh,2016-10-19 13:13:17,24.43,2728236352387,3,Rural
2318,East Stephen,2016-02-16 11:58:06,22.43,8118042484039,6,Rural
2328,Stevensport,2016-02-14 15:52:14,22.20,341262393081,6,Rural
2333,West Kevintown,2016-11-27 20:12:58,12.92,6460741616450,5,Rural
2340,East Troybury,2016-02-21 06:07:18,45.12,1607319707836,3,Rural
2347,Erikport,2016-01-01 18:05:56,11.76,3568184448232,3,Rural
2355,Hernandezshire,2016-02-20 08:17:32,58.95,3176534714830,10,Rural
2364,Jacksonfort,2016-10-09 02:18:33,10.33,1819118738960,6,Rural
2370,East Leslie,2016-04-21 18:44:59,19.26,5836114186294,9,Rural
2381,North Whitney,2016-04-01 21:21:37,51.01,612689673941,10,Rural
2391,Manuelchester,2016-03-21 22:15:25,49.62,6045427401799,7,Rural
2392,Shelbyhaven,2016-05-24 15:29:59,18.11,1144791937271,9,Rural
2398,South Elizabethmouth,2016-04-03 11:13:07,22.79,8193837300497,3,Rural
2403,Matthewside,2016-02-23 17:46:29,59.65,241191157535,4,Rural

In [19]:
merged.dtypes

city             object
date             object
fare            float64
ride_id           int64
driver_count      int64
type             object
dtype: object

In [5]:

#plt.scatter(x=total_rides_per_city, y=average_fare, s=driver_count_per_city, alpha=0.5, c=colors)


#total_rides_per_city, average_fare, driver_count_per_city = x, y, s

plt.scatter(urban_rides_per_city_alph, urban_avg_fare_per_city_alph, s=[x * 10 for x in urban_driver_count_alph], facecolor='gold', alpha=.75,  label='Urban', edgecolors='black', marker="o", linewidth=1.5)

plt.scatter(suburban_rides_per_city_alph, suburban_avg_fare_per_city_alph, s=[x * 10 for x in suburban_driver_count_alph], facecolor='skyblue', alpha=.75,  label='Suburban', edgecolors='black', marker="o", linewidth=1.5)

plt.scatter(rural_rides_per_city_alph, rural_avg_fare_per_city_alph, s=[x * 10 for x in rural_driver_count_alph], facecolor='coral', alpha=.75,  label='Urban', edgecolors='black', marker="o", linewidth=1.5)

plt.legend(title="City Types", loc='best')


colors = ['gold', 'lightskyblue', 'lightcoral']
plt.title('Pyber Ride Sharing Data (2016)')
plt.xlabel('Total Number of Rides (Per City)')
plt.ylabel('Average Fare ($)')

plt.figure(figsize=(12,10))
plt.show()

In [9]:
type_df = merged.groupby('type')
totalfarebycity = ["Urban", "Rural", "Suburban"]
#total_fare_bycity = [index[3]]
colors = ["lightcoral","gold","lightskyblue"]
explode = (0.1,0,0)

plt.type_df(total_fare_bycity, explode=explode, labels=totalfarebycity, colors=colors,
        autopct="%1.1f%%", shadow=True, startangle=140)

plt.title('% of Total Fares by City Type')
plt.axis("equal")
plt.show()

AttributeError: module 'matplotlib.pyplot' has no attribute 'type_df'